@media (max-width:1000px) {
 .image-one p {
    width:100%;
    margin:0 auto 50p auto;
  }

  .image-content  img {
    height: 100%;
    width:100%;
    margin: 0 auto;
  }

  .section-one .image {
    display: flex;
    flex-direction: column;
  }

  .section-two {
    width: 100%;
    margin:0 auto;
    height: 800px;
  }

  .ngopi-image img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
  }

  .coffee-content1 {
    margin-top:40px;
  }
}
