@media (max-width:1000px) {
  .section-one .image {
    display: flex;
    flex-wrap: wrap;
  }

  .image-content {
    flex: auto;
    width: 25%;
  }

  .image-one p {
    font-size: 20px;
  }

  .section-two{
    width: 100%;
    margin:0 auto;
  }

  .coffee-two {
    display: flex;
    flex-wrap:wrap;
  }

  .text {
    flex:auto;
    width: 25%;
    height: 100%;
    margin:0 15px 20px 15px;
    padding: 0;
  }

  .text span {
    margin: 20px 0 20px 0;
  }

  .text p {
    margin:0 0 20px 0;
  }

  .text:hover {
    height: 100%;
  }

  .signup-form {
  	width: 80%;
  	margin: 0 auto;
    	padding-bottom: 30px;
  }

    .form {
    	flex:auto;
    	width: 50%;
      margin-bottom: 15px;
    }

    .form input {
      width:70%;
    }

    .footer-logo {
      width:50%;
      float: left;
    }

    .footer-socials {
      float: left;
      margin-left: 0;
      margin-bottom: 0;
    }

    footer {
      height: 600px;
    }

}

@media (max-width:670px) {
  nav {
    display: none;
  }
  .signup,.login {
  display: none;
  }
  .title-bar {
    font-size:12px;
  }
  .top-wrapper h1{
    width:90%;
    margin:0 auto;
    margin-bottom:10px;
  }
  .top-wrapper h4{
    width:90%;
    margin:0 auto;
    margin-bottom:25px;
  }
  .menu-icon {
    display: inline-block;
    margin-right:0;
    color: rgb(111, 29, 27);
    font-size: 24px;
  }

  .header-right {
    margin-right:0;
  }
  .header-right span {
    line-height: 75px;
    font-size: 24px;
    margin-right: 25px;
  }

  .heading{
      margin-bottom: 30px;
  }
  .section-one .image {
    display: flex;
    flex-wrap: wrap;
  }

  .image-content {
    flex: auto;
    width: 50%;
  }

  .image-content img{
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
  }

  .image-one p {
    margin-top: 2px;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .image-group img {
  	display: none;
  }

  .section-two{
    width: 100%;
    margin:0 auto;
  }

  .coffee-two {
    display: flex;
    flex-wrap:wrap;
  }

  .text {
    flex:auto;
    width: 100%;
    height: 100%;
    margin:0 20px 10px 20px;
    padding: 0;
  }

  .text span {
    margin: 20px 0 20px 0;
  }

  .text p {
    margin:0 0 20px 0;
  }

  .text:hover {
    height: 100%;
  }

  .signup-msg {
    width:80%;
    margin:0 auto;
    margin-bottom:20px;
  }

  .msg-content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .signup-form {
  	width: 80%;
  	margin: 0 auto;
    	padding-bottom: 20px;
  }

    .form {
    	flex:auto;
    	width: 100%;
      margin-bottom: 15px;
    }

    .form input {
      width:100%;
    }

    .footer-logo {
      width: 70%;
      float:none;
    }

    .gambar-footer {
      margin-top:3px;
    }

    .footer-socials {
       width:100%;
      margin:30px auto 0 25px;
     display:flex;
     flex-direction:row;
     }

     .footer-socials span {
       flex:auto;
       margin:auto;
     }

    .tulisan-contact {
      width:100%;
      margin:0 auto;
    }

    .tulisan-contact ul {
      display:flex;
      flex-direction:row-reverse;
      margin-top:30px;
      clear: both;
      padding:0;
    }

    .tulisan-contact li {
      margin:auto;
     }

    footer {
      height: 820px;
    }

}
