body {
	margin:0;
	padding:0;
}

header {
	width: 100%;
	position: fixed;
	top:0;
	z-index: 10;
}

nav {
	background-color:rgb(219, 173, 106);
	height:32px;
}

nav ul {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 32px;
	padding:0;
	margin: 0 0 0 25px;
	list-style: none;
	display: flex;
	flex-direction: row;
	float:left;
}

nav li {
	color: rgb(111, 29, 27);
	margin:0 20px 0 0;
}

nav li:hover {
	cursor:pointer;
}

.socials {
	float:right;
	display:flex;
	flex-direction: row;
}

.socials a {
	line-height: 32px;
	margin:7px 27px 0 0;
	color: rgb(111, 29, 27);
}

.title-bar {
	background-color:#ffe6a7;
	height:75px;
}

.title-bar img {
	height: 45px;
	margin:15px 0 15px 25px;
	padding:0;
	float:left;
}

.title-bar h1 {
	font-family: 'Yeseva One', cursive;
	line-height: 75px;
	letter-spacing: 1px;
	color:rgb(179, 81, 12);
	margin:0 0 0 15px;
	float:left;
}

.title-bar h1:hover {
	cursor:pointer;
}

.menu-icon {
	display: none;
}

.header-right {
	font-family:'Rubik', sans-serif;
	color: rgb(111, 29, 27);
	margin:0 25px 0 0;
	float:right;
	display: flex;
	flex-direction: row;
}

.header-right span {
	font-size: 25px;
	height:100%;
	margin:auto;
	margin-right:37px;
}

.header-right span:hover {
	cursor:pointer;
}

.signup {
	height:100%;
	margin:auto;
}

.signup:hover {
	border-bottom: 1px solid rgb(111, 29, 27);
	cursor:pointer;
}

.login {
	line-height: 75px;
	color:#ffe6a7;
	background-color: rgba(111, 29, 27,0.8);
	margin:0 0 0 25px;
	padding:0 25px 0 25px;
	transition: all 0.4s;
}

.login:hover {
	background-color: rgba(111, 29, 27,0.5);
	cursor:pointer;
}

.top-wrapper {
  background-image: url(https://images.unsplash.com/photo-1530124175301-15984e162c84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
}

.top-wrapper .container {
	background-color: rgba(194, 198, 167, 0.7);
	margin:0;
}

.top-wrapper h1 {
	font-family:'Rubik', sans-serif;
	opacity: 1;
	font-weight: bold;
	text-align:center;
  font-size: 28px;
	color:rgba(111, 29, 27);
  letter-spacing: 1px;
	padding:250px 0 0 0;
  margin:0;
}

.top-wrapper h4 {
	font-family:'Rubik', sans-serif;
	color:rgb(111, 29, 27);
	opacity: 1;
	font-weight: normal;
	margin: 12px 0 0 0;
	padding:0;
	text-align: center;
}

.top-wrapper span {
	margin:0 7px 0 0;
}

.top-wrapper p {
	display: inline-block;
  background-color: rgb(179, 81, 12);
  padding: 10px 30px;
  color: cornsilk;
  border-radius: 4px;
  font-family: Helvetica;
  font-weight: bold;
  transition: all 0.4s;
	margin:12px 0 150px 0;
}

.top-wrapper p:hover {
	 background-color: rgb(148, 68, 11);
	 color: cornsilk;
	 cursor: pointer;
}

main {
	background-color: #FCFFEB
}

.section-one {
	width: 80%;
	margin: 0 auto;
	background-color: #FCFFEB;
}

.coffee-one{
    padding-top: 30px;
}

.heading{
    text-align: center;
    margin-bottom: 50px;
}

.heading h3{
	font-family: 'Yeseva One', cursive;
}

.heading p{
    font-family:'Rubik', sans-serif;
    line-height: 20px;
}

.section-one .image {
	display: flex;
	flex-direction:row;
	width: 80%;
	margin: 0 auto;
}

.image-content img{
    display: none;
}

.section-one .image {
	display: flex;
	flex-wrap: wrap;
}

.image-group {
	display: flex;
	flex-wrap: wrap;
}

.image-group img {
	flex: auto;
	width:40%;
	margin:0 10px 0 10px;
}

.image-content {
	flex: auto;
	width: 25%;
	margin:0 10px;
}

.image-one p{
    text-align: center;
    font-weight: bold;
    border:2px solid rgb(179, 81, 12);
    color: rgb(179, 81, 12);
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Yeseva One', cursive;
		font-size: 28px;
    transition: all 0.4s;
}

.image-one p:hover{
		cursor:pointer;
    background-color: rgb(179, 81, 12);
    color: honeydew;
}

.section-two{
	width: 1170px;
	margin: 0	auto;
		background-color: #FCFFEB;
}

.coffee-two{
    margin-top: 40px;
		display: flex;
		flex-direction: row;
}

.text{
		flex: auto;
    background-color: rgb(46, 71, 64);
    color: white;
    height: 250px;
    width: 250px;
    margin: 0 25px;
    border-radius: 10px;
    text-align: center;
    line-height: 18px;
    transition: all 0.4s;
}

.text:hover{
    height: 300px;
    background-color: rgb(179, 81, 12);
		cursor: pointer;
}

.text span {
	font-size: 28px;
	margin-top: 76px;
}

.text p{
    opacity: 0.7;
    font-family:'Rubik', sans-serif;
    margin-top: 24px;
    font-weight: bold;
		letter-spacing: 0.5px;
}

footer{
  background-color:rgb(111, 29, 27);
	height: 510px;
}

.signup-msg {
	text-align: center;
	padding-top: 100px;
	font-family: 'Yeseva One', cursive;
	color:#ffe6a7;
	margin-bottom: 8px;
}

.msg-content {
	margin-top:0;
	text-align: center;
	font-family:'Rubik', sans-serif;
	color:#ffe6a7;
	margin-bottom: 35px;
}

.signup-form {
	width: 70%;
	margin: 0 auto;
	color:#ffe6a7;
	display: flex;
	flex-wrap:wrap;
	padding-bottom: 135px;
}

.form {
	flex:auto;
	width: 25%;
}

.form input {
	padding: 5px 10px;
	height: 50px;
	margin:auto;
	border-radius: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	transition: all 0.4s;
}

.form input:focus {
	border: 2px solid #ffe6a7;
}

.form p {
	font-size: 12px;
	font-family:'Rubik', sans-serif;
	margin:0 0 5px 0;
}

.signup-btn {
	margin: 19px auto 0 auto;
	font-family:'Rubik', sans-serif;
	text-align: center;
	padding:2px 0;
	box-sizing: border-box;
	border: 2px solid #ffe6a7;
	transition: all 0.4s;
}

.signup-btn p {
	margin: 0;
	line-height: 40px;
}

.signup-btn:hover {
	background-color: #ffe6a7;
	color:rgb(111, 29, 27);
	border: 2px solid #ffe6a7;
	cursor: pointer;
}

.signup-btn p {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 14px;
}

.gambar-footer {
	height: 45px;
	margin:15px 15px 15px 25px;
	padding:0;
	float:left;
}

footer img {
	float: left;
}

.tulisan {
	font-family: 'Yeseva One', cursive;
  color:#ffe6a7;
}

.tulisan h1 {
	margin-bottom: 3px;
}

.tulisan p {
	margin:0;
}

.footer-logo {
	width: 20%;
	float: left;
}
.tulisan-contact {
	float: right;
}

.footer-socials {
	float:left;
	display:flex;
	flex-direction: row;
	margin:24px 0 24px 50px;
}

.footer-socials a {
	font-size: 24px;
	line-height: 32px;
	margin:0 27px 0 0;
	color: #ffe6a7;
}

.tulisan-contact li {
	font-family:'Rubik', sans-serif;
	font-size:12px;
	color:#ffe6a7;
	list-style:none;
	float:right;
	margin: 50px 25px 0 0;
}

li:hover{
	cursor: pointer;
}
