body {
	margin:0;
	padding:0;
}

nav {
	background-color:#bf8d54;
	height:32px;
}

nav ul {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 32px;
	padding:0;
	margin: 0 0 0 25px;
	list-style: none;
	display: flex;
	flex-direction: row;
	float:left;
}

nav li {
	color: #432818;
	margin:0 20px 0 0;
}

nav li:hover {
	cursor:pointer;
}

.socials {
	float:right;
	display:flex;
	flex-direction: row;
}

.socials a {
	font-size: 10px;
	margin:0 27px 0 0;
	color: rgb(179, 81, 12);
}

.socials span {
	height:60%;
	margin:0 auto;
}

.title-bar {
	background-color:#ffe6a7;
	height:75px;
}

.title-bar h1 {
	font-family: 'Yeseva One', cursive;
	line-height: 75px;
	letter-spacing: 1px;
	color:rgb(179, 81, 12);
	margin:0 0 0 25px;
	float:left;
}

.title-bar h1:hover {
	cursor:pointer;
}

.header-right {
	font-family:'Rubik', sans-serif;
	color: #432818;
	margin:0 25px 0 0;
	float:right;
	display: flex;
	flex-direction: row;
}

.header-right span {
	font-size: 25px;
	height:100%;
	margin:auto;
	margin-right:37px;
}

.header-right span:hover {
	cursor:pointer;
}

.signup {
	height:100%;
	margin:auto;
}

.signup:hover {
	border-bottom: 1px solid #432818;
	cursor:pointer;
}

.login {
	line-height: 75px;
	color:#ffe6a7;
	background-color: rgba(111, 29, 27,0.8);
	margin:0 0 0 25px;
	padding:0 25px 0 25px;
}

.login:hover {
	background-color: rgba(111, 29, 27,0.5);
	cursor:pointer;
}

.top-wrapper {
  padding: 200px 0 200px 0;
  background-image: url(https://images.unsplash.com/photo-1530124175301-15984e162c84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}

.top-wrapper h1 {
	font-family:'Rubik', sans-serif;
  opacity: 0.7;
	text-align:center;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


.coffee-one{
    height: 730px;
    padding-top: 30px;

}

.heading{
    text-align: center;
    width: 820px;
    padding-left:257px;
    margin-bottom: 50px;
}

.heading h3{
	font-family: 'Yeseva One', cursive;

}

.heading p{
    font-family:'Rubik', sans-serif;
    line-height: 20px;
}

.image{
    margin-left: 240px;
}

.image-content img{
    height: 400px;
    width: auto;
    margin-bottom: 0;
}

.image-content{
    float: left;
    margin-left: 20px;
}

.image-one p{
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 241, 232);
    color: rgb(26, 26, 26);
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Yeseva One', cursive;
		font-size: 28px;
    transition: all 0.4s;
}

.image-one p:hover{
    background-color: rgb(179, 81, 12);
    color: honeydew;
}

.image-one a{
    background-color: rgb(255, 247, 220);
    color: rgb(26, 26, 26);
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Helvetica;
}

.section-two{
    height: 500px;
    background-color: rgb(255, 247, 220);
}

.ngopi-image img{
    height: 350px;
    position: relative;
    margin-left: 80px;
}

.ngopi-text{
    position: absolute;
    margin-right: 140px;
}

.heading-text{
    margin-bottom: 40px;
}

.text-p{
		font-family: 'Yeseva One', cursive;
    font-weight: bold;
}

.heading-text p {
		font-family:'Rubik', sans-serif;
}

.button{
    background-color: rgb(179, 81, 12);
    padding: 10px 30px;
    color: cornsilk;
    border-radius: 4px;
    font-family: Helvetica;
    font-weight: bold;
    transition: all 0.4s;
}

.button:hover{
    background-color: rgb(148, 68, 11);;
    color: cornsilk;
}

.coffee-content{
    float: left;
    margin-left: 40px;
    margin-top: 75px;
}

.section-three{
    height: 400px;
    width: 100%;
}

.coffee-three{
    margin-left: 97px;
    padding-top: 80px;
}

.text{
    background-color: rgb(46, 71, 64);
    color: white;
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 25px;
    border-radius: 10px;
    text-align: center;
    line-height: 18px;
    transition: all 0.4s;
}

.text:hover{
    height: 300px;
    width: 300px;
    background-color: rgb(179, 81, 12);
}

.text p{
    opacity: 0.7;
    font-family:'Rubik', sans-serif;
    margin-top: 100px;
    font-weight: bold;
}
